.card {
  /* padding: 5px; */
  /* margin: 20px; */ /*????*/
  /* box-shadow: 0 0 5px #ddd; */
  border: 0.1px solid rgb(219, 216, 216);
  border-radius: 15px;
  width: 25%;
}

.like-btn {
  padding-right: 10px;
}
.card img {
  width: 100%;
  /* background-color: #3062d5; */
  margin-bottom: 0px;
  /* border-radius: 15px; */
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.rent-info {
  margin-top: 0px;
  display: flex;
  padding-left: 10px;
  align-items: center;
  justify-content: space-between;
}
.house-address {
  width: 340px;
  height: 63px;
  left: 18px;
  top: 340px;
  padding-left: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #505050;
}
.separator-card {
  /* margin-top: 0px;
  color: #3062d5;
   padding-top: 1%; 
  margin: 1px;
  width: 80%;
  margin-bottom: 8px; */

  margin-top: 0px;
  color: #3062d5;
  /* padding-top: 1%; */
  margin: 1px;
  width: 95%;
  border: 1px solid lightgrey;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 8px;
}
.metadata-info {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.rent-amt {
  width: 193px;
  height: 49px;
  left: 18px;
  top: 263px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-transform: lowercase;
  margin-bottom: 0px;
  color: #3062d5;
}
.rent-pm {
  font-weight: 500;
}
.house-title {
  width: 207px;
  padding-left: 10px;
  /* height: 24px; */
  left: 18px;
  /* top: 30px; */
  margin-top: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  margin-bottom: 0px;
  color: #000000;
}
