.options {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  border: 0px;
  background-color: white;
}
.options-active {
  background: #b0c4f9;
  border-radius: 5px;
  padding: 10px 20px;
  color: #3062d5;
}
.btn-wrapper {
  display: flex;
  justify-content: space-between; /*Horizontal*/
  width: 200px;
  margin: auto;
  align-items: center; /*vertical*/
  border: 0px;
}
